
/* Контейнер */
%container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
    @media screen and (min-width:480px) {
        width: 480px;
        }
    @media screen and (min-width:768px) {
        width: 734px;
        }
    @media screen and (min-width:1680px) {
        width: 1680px;
    }  
}

/* шрифт названий*/
%font-title {
    @include font(800, 20px, 1.3, 0.03em);
    @media screen and (min-width:768px) {
        font-size: 26px;
    }
    @media screen and (min-width:1680px) {
        font-size: 46px;
    }

}

/* Hidden */
%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%full {
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width:1680px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
%standart {
    padding-top: 40px;

    @media screen and (min-width:1680px) {
        padding-top: 80px;
    }
}
