:root {
--main-color: #111518;
--second-color: #ffffff;
--third-color: #3D3D3D;
--fourth-color: #B9B9B9;
--accent-color: #FF6B09;
--main-bg-color: #111518;
--second-bg-color: #ffffff;
--third-bg-color: #F1F1F1;
}