:root {
  --main-color: #111518;
  --second-color: #ffffff;
  --third-color: #3d3d3d;
  --fourth-color: #b9b9b9;
  --accent-color: #ff6b09;
  --main-bg-color: #111518;
  --second-bg-color: #ffffff;
  --third-bg-color: #f1f1f1;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
