<section class="about" id="about">
    <div class="about__container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__position">
          <div class="about__imgteacher">
            <img src="./images/about/teacher-desktop-528px@2x-min.jpg"
                srcset="./images/about/teacher-desktop-528px@1x-min.jpg 1x, ./images/about/teacher-desktop-528px@2x-min.jpg 2x" 
                alt="Фото викладача"
                loading="lazy">
          </div> 
            <div class="about__teacher">
                <h3 class="about__name">Elena Morozova</h3>
                <p class="about__item">
                6 yeards of experience in preparing students for UPE
                </p>
                <p class="about__item">
                    Own result of passing VNO - 197 points 2 years in a row
                </p>
                <p class="about__item">
                    Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)
                </p>

                <p class="about-list__border">—</p>

                <div class="about__text">
                    <p class="about__paragraph">
                        Graduated from the Institute of International Relations of the NAU
                        with a degree in translator-analyst.
                    </p>
                    <p class="about__paragraph">
                        In spare time takes courses from the best universities in the world
                        on effective teaching and essay writing techniques.
                    </p>
                    <p class="about__paragraph">
                        Completed: English Grammar and Essay Writing (Berkeley), English
                        Grammar & Style (The University of Queesland), How to Write an Essay
                        (Berkeley), Academic and Business Writing (Berkeley), The Art of
                        Teaching (GEMS education), Powerful Tools for Teaching and Learning
                        (University of Houston).
                    </p>
                </div>

                <a href="#popup" class="about-certificate popup-link">Cambridge English Entry Level Certificate</a>                

                <div id="popup" class="popup">
                    <a href="##" class="popup__area"></a>
            
                    <div class="popup__body">
                        <div class="popup__content">
                            <a href="#about" class="popup__close">x</a>
                            <img src="./images/about/cambridge-english-entry-level-certificate.jpg" 
                            alt="Cambridge English Entry Level Certificate" width="450"/>                   
                        </div>
                    </div>
                </div>         

    </div>
</section>

