<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__icon1">
        <p class="advantages__text">Adapted author's UPE program</p>
      </li>
      <li class="advantages__item advantages__icon2">
        <p class="advantages__text">Modern <br />teaching methods</p>
      </li>
      <li class="advantages__item advantages__icon3">
        <p class="advantages__text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
