<section class="section">
    <div class="container">
        <h3 class="benefits__title">Benefits</h3>
        <ul class="benefits__list">
            <li class="benefits__item">
                <p class="benefits__number">1</p>
                <p class="benefits__text">Training in small groups</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">2</p>
                <p class="benefits__text">Rendered notes</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">3</p>
                <p class="benefits__text">Each lesson has a goal and a specific result</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">4</p>
                <p class="benefits__text">The real results of the teacher</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">5</p>
                <p class="benefits__text">The course program meets the requirements of the MES of Ukraine</p>
            </li>
            <li class="benefits__item">
                <p class="benefits__number">6</p>
                <p class="benefits__text">Set of groups by level of knowledge</p>
            </li>
        </ul>
    </div>
</section>
