<section class="contacts" id="contacts">
    <div class="contacts-container">
      <h2 class="contacts-title">Registration for a <span class="contacts-title--accent">free</span> phone <span
          class="contacts-title--accent">consultation</span> on the nuances of English UPE</h2>
      <h3 class="contacts-text">
        Leave a request for participation in a <span class="contacts-text--accent">free lesson.</span> </br> A consultant will contact you 
        and answer your questions
      </h3>
      <form class="contacts-form">
        <div class="contacts-meta">
        <label class="contacts-label" for="name"></label>
        
        <input 
        type="text" pattern="[A-Za-z]{1,15}" 
        class="contacts-form__input" 
        name="text" id="name" 
        placeholder="Name*" />
        </div>
        <div class="contacts-meta"> 
        <input 
        type="tel" 
        pattern="-?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?" 
        class="contacts-form__input" 
        name="tel"
        placeholder="Phone*" />
        </div>
        <button type="submit" class="contacts-btn">i want a free lesson</button>
      </form>
    </div>
  </section>

  