<section class="contacts" id="contacts">
    <div class="contacts-container">
      <div class="box-centered">
      <h2 class="contacts-title">Registration for a <span class="contacts-title--accent">free</span> phone <span
          class="contacts-title--accent">consultation</span> on the nuances of English UPE</h2>
      <h3 class="contacts-text">
        Leave a request for participation in a <span class="contacts-text--accent">free lesson.</span> </br> A consultant will contact you 
        and answer your questions
      </h3>
      </div>
      <form class="contacts-form">
  <input type="text" pattern="[A-Za-zА-Яа-яЁёІіЇїЄє]{1,15}" class="contacts-form__input" name="text"
            id="" placeholder="Name*" />
  <input type="tel" pattern="-?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?" class="contacts-form__input" name="tel"
            placeholder="Phone*" />
        <button type="submit" class="btn btn--differences">i want a free lesson</button>
      </form>
    </div>
  </section>

  