<section class="section">
  <div class="section-hero">
    <div class="hero">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <ul class="hero__list">
        <li><p class="hero__text-1">It won’t be easy.</p></li>
        <div class="hero__text--flex">
          <li><p class="hero__text-2">But you’re guaranteed to get</p></li>
          <li><p class="hero__text-3">+25 points</p></li>
        </div>
      </ul>
      <a href="#contacts" class="hero__link-button"> I want a free lesson</a>
    </div>
    <div class="hero__thumb">
      <img
        srcset="
          ./images/hero/hero-bg-desktop@1x-min.png 1x,
          ./images/hero/hero-bg-desktop@2x-min.png 2x
        "
        src="./images/hero/hero-bg-desktop@1x-min.png"
        alt="Девушки разработчики на конференции"
        class="hero__img"
        width="841px"
      />
    </div>
  </div>
</section>

<div class="hero__thumb"></div>
