<section class="how">
    <div class="container">
        <h2 class="how-head">How do we do it</h2>
            <ul class="how-list">
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_1"></use>
                    </svg>
                    <h3 class="how-title">Adapted program preparation for UPE</h3>
                    <p class="how-description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
                </li>
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_2"></use>
                    </svg>
                    <h3 class="how-title">Classroom and online learning</h3>
                    <p class="how-description">The teacher will help not only in the classroom, but also during home preparation. Parents can chat if they wish.</p>
                </li>
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_3"></use>
                    </svg>
                    <h3 class="how-title">The habit of reading in English</h3>
                    <p class="how-description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
                </li>
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_4"></use>
                    </svg>
                    <h3 class="how-title">Psychological support</h3>
                    <p class="how-description">We will teach you testing techniques, the ability to plan your confidence training
                    in itself.</p>
                </li>
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_5"></use>
                    </svg>
                    <h3 class="how-title">Training on copyright manuals</h3>
                    <p class="how-description">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
                </li>
                <li class="how-item">
                    <svg class="how-icon" width="100%" height="48px">
                        <use href="./images/icons.svg#icon-how_6"></use>
                    </svg>
                    <h3 class="how-title">Ability to comprehend spoken English</h3>
                    <p class="how-description">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.</p>
                </li>
            </ul>
    </div>
</section>