<!-- МОДАЛЬНОЕ ОКНО -->
<di class="backdrop is-hidden" data-modal>
	<div class="order-modal">
		<button type="button" class="order-modal__button" data-modal-close>
			<svg class="order-modal__svg" width="16px" heigth="16px">
				<use href="./images/icons.svg#icon-close" class="order-modal__use"></use>
			</svg>
		</button>
		<form name="form" class="order-modal__form">
			<h2 class="order-modal__title">
sign up for training</h2>
				<ul class="form__list">
					<li class="form__item">
						<label for="user-name" class="form__label">Name
							<input type="text" name="user-name" id="user-name" class="form__input" required>
							<svg class="form__svg" width="18px" height="18px">
								<use class="form__use" href="./images/icons.svg#icon-user-form"></use>
							</svg>
						</label>
					</li>
					<li class="form__item">
						<label for="user-tel" class="form__label">Number
							<input type="tel" name="user-tel" id="user-tel" class="form__input" required>
							<svg class="form__svg" width="18px" height="18px">
								<use class="form__use" href="./images/icons.svg#icon-mobile-form"></use>
							</svg>
						</label>
					</li>
					<li class="form__item">
						<label for="user-email" class="form__label">Email
							<input type="email" name="user-email" id="user-email" class="form__input" required>
							<svg class="form__svg" width="18px" height="18px">
								<use class="form__use" href="./images/icons.svg#icon-envelop-form"></use>
							</svg>
						</label>
					</li>
					<li>
						<label for="user-select" class="form__label">Your English Level <svg class="form__svg" width="18px" height="18px">
								<use class="form__use" href="./images/icons.svg#icon-envelop-form"></use>
							</svg>
							<select name="user-select" id="user-select" class="form__select">
								
								<option value="z1">I don't know</option>
								<option value="z2">Beginner</option>
								<option value="a1">Elementary</option>
								<option value="a2">Pre-Intermediate</option>
								<option value="b1">Intermediate</option>
								<option value="b2">Upper-Intermediate</option>
								<option value="c1">Advanced</option>
								<option value="c2">Proficiency</option>
							</select>
						</label>
					</li>
					<li class="form__item">
						<label for="user-textarea" class="form__label">
Comment</label>
<textarea  name="user-comment"
                id="user-comment"
                cols="30"
                rows="10"
                placeholder="Input text..."
                class="form__textarea">
</textarea>
					</li>
				</ul>

				<div class="checkbox">

				</div>
				<button type="submit" class="button-submit">Send</button>
		</form>
	</div>
</div>