<section class="problems">
  <div class="problems__container">
    <h2 class="problems__title">
      The main problems of students<br />
      in English UPE, which<br />
      we <span class="problems__title-accent">help</span> to solve
    </h2>
    <svg class="problems__icon" width="446" height="621">
      <use href="images/icons.svg#big_fire"></use>
    </svg>
    <ol class="problems__list">
      <li class="problems__item">
        <p class="problems__text">Grammar</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Inability to understand spoken English</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Stingy vocabulary for writing an essay</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Preparing alone</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Lack of a single knowledge resource</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Lack of self-organization and laziness</p>
      </li>
    </ol>
  </div>
</section>
