<section class="program" id="program">
    <div class="program__container">
        <div class="program__meta">
            <h2 class="program__title">Our program</h2>
            <ul class="program__list">
                <li class="program__item">
                    <h3 class="program__pre-title"><span class="program__number">1</span> SEMESTER</h3>
                    <ul class="course">
                        <li class="course__item">
                            <h4 class="course__title">Grammar</h4> <span></span>
                            <ul class="course__list">
                                <li class="course__subject">Nouns & Articles</li>
                                <li class="course__subject">Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Vocabulary</h4>
                            <ul class="course__list">
                                <li class="course__subject">Family & Relations</li>
                                <li class="course__subject">People & Society </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="program__pre-title"><span class="program__number">2</span> SEMESTER</h3>
                    <ul class="course">
                        <li class="course__item">
                            <h4 class="course__title">Grammar</h4>
                            <ul class="course__list">
                                <li class="course__subject">Pronouns</li>
                                <li class="course__subject">Active Voice</li>
                                <li class="course__subject">Passive Voice</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Vocabulary</h4>
                            <ul class="course__list">
                                <li class="course__subject">Home</li>
                                <li class="course__subject">School</li>
                                <li class="course__subject">Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="program__pre-title"><span class="program__number">3</span> SEMESTER</h3>
                    <ul class="course">
                        <li class="course__item">
                            <h4 class="course__title">Grammar</h4>
                            <ul class="course__list">
                                <li class="course__subject">Modal verbs</li>
                                <li class="course__subject">Infinitive</li>
                                <li class="course__subject">Gerund</li>
                                <li class="course__subject">Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Vocabulary</h4>
                            <ul class="course__list">
                                <li class="course__subject">Travel & Tourism</li>
                                <li class="course__subject">Culture & Free Time</li>
                                <li class="course__subject">Sport</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Writing</h4>
                            <ul class="course__list">
                                <li class="course__subject">Informal Letter </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="program__pre-title"><span class="program__number">4</span> SEMESTER</h3>
                    <ul class="course">
                        <li class="course__item">
                            <h4 class="course__title">Grammar</h4>
                            <ul class="course__list">
                                <li class="course__subject">Clauses: Conditional and Wishes</li>
                                <li class="course__subject">Direct / Reported speech</li>
                                <li class="course__subject">Preposition</li>
                                <li class="course__subject">Conjunction</li>
                                <li class="course__subject">Numeral</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Vocabulary</h4>
                            <ul class="course__list">
                                <li class="course__subject">Healthy Livi</li>
                                <li class="course__subject">Nature & Environment</li>
                                <li class="course__subject">Money</li>
                            </ul>
                        </li>
                        <li class="course__item">
                            <h4 class="course__title">Writing</h4>
                            <ul class="course__list">
                                <li class="course__subject">Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="program__pre-title"><span class="program__number">5</span> SEMESTER</h3>
                    <ul class="course">
                        <li class="course__item">
                            <h4 class="course__title">&nbsp </h4>
                            <ul class="course__list">
                                <li class="course__subject">Revision</li>
                                <li class="course__subject">Tests</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>



