.about {
    padding-top: 40px;
    
        @media screen and (min-width: 768px) {
            padding-top: 50px;
        }
    
        @media screen and (min-width: 1680px) {
            padding-top: 130px;
        }

&__container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 320px;
    
        @media screen and (min-width:480px) {
            width: 480px;
        }
    
        @media screen and (min-width:768px) {
            width: 734px;
        }
    
        @media screen and (min-width:1680px) {
            width: 1680px;

    }
}


&__title {
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    line-height: calc(26 / 20);
    letter-spacing: 0.03em;
    color: var(--main-color);

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1679px) {
        margin-bottom: 30px;
        font-size: 26px;
        line-height: calc(34 / 26);
    }

    @media screen and (min-width: 1680px) {
        margin-bottom: 50px;
        font-size: 46px;
        line-height: calc(60 / 46);
    }
}



&__position {
    
@media screen and (min-width: 768px) {
        display: flex;
    }
}


&__imgteacher {


    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        max-width: 243px;
    }

    @media screen and (max-width: 1679px) {
        min-width: 243px;
        margin-right: 40px;
    }

    @media screen and (min-width: 1680px) {
        min-width: 528px;
        min-height: 667px;
        margin-right: 30px;
    }
}

&__teacher {
@media screen and (max-width: 768px) {
        margin-bottom: 20px;
        
    }

@media screen and (min-width: 1680px) {
        min-width: 660px;
        min-height: 668px;
        padding-left: 172px;
        padding-right: 280px;
        padding-top: 5px;
    }

}

&__name {

    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.08em;
    color: var(--main-color);

    padding-bottom: 10px;
    border-bottom: 1px solid var(--fourth-color);

    @media screen and (min-width: 1680px) {
        padding-bottom: 20px;
        font-size: 30px;
        line-height: calc(37 / 30);
    }

}

&__item {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.06em;
    margin-top: 20px;
    color: var(--main-color);

    display: flex;

    @media screen and (min-width: 1680px) {
        font-size: 16px;
        line-height: calc(20 / 16);
        margin-top: 32px;
    }

    &::before {
        content: "";
        min-width: 25px;
        height: 20px;
        margin-right: 9px;
        background-image: url("../images/done.svg");
    }
}

&__text {

    color: var(--fourth-color);
    font-weight: 500;


    @media screen and (min-width: 768px) {
        align-items: center;
        font-size: 12px;
        line-height: 2;
        min-width: 280px;

    }

    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: 1.56;

        
    }
    
}

&__paragraph {
    
        font-weight: 500;
        font-size: 12px;
        line-height: calc(20 / 12);
     
    
        color: var(--fourth-color);

        @media screen and (min-width: 768px) {
                font-size: 12px;

                line-height: calc(28 / 18);
        
                margin-bottom: 20px;

            }
    
        @media screen and (min-width: 1680px) {
            font-size: 18px;
            line-height: calc(28 / 18);
    
            margin-bottom: 20px;
        }
}
}


.about-certificate {
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    

    text-decoration-line: underline;

    color: var(--accent-color);

    @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 1.56;
            margin-top: 20px;
    
        }

    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: 1.56;

    }
}

.about-list__border {
  
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;

    letter-spacing: 0.08em;

    color: var(--accent-color);

    @media screen and (min-width: 1680px) {
        margin: 15px 0;
    }
}

/*--- Модальне вікно, без js ---*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.8s ease 0s;

}   

.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}


.popup__area {

        position: absolute;
        width: 100%;
        height: 100%;
        
        top: 0;
        left: 0;
}

.popup__body {
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;

}

.popup__content {
    background-color: #fff;
    color: black;
    max-width: 300px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
   
    @media screen and (min-width: 1680px) {
        max-width: 550px;
    
        }
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;

}
