// basic style

// .btn-primary {
//   display: block;
//   width: 100%;
//   text-transform: uppercase;
//   border: 2px solid var(--accent-color);
//   padding: 14px 54px 15px;
//   color: var(--second-color);
//   background-color: var(--accent-color);

//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.25;
//   letter-spacing: 0.08em;
//   @media screen and (min-width: 768px) {
//     padding-left: 44px;
//     padding-right: 44px;
//   }
//   @media screen and (min-width: 1680px) {
//     padding: 24px 68px 25px;
//     font-size: 14px;
//     line-height: 1.21;
//     letter-spacing: 0.14em;
//   }
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     background-color: var(--second-color);
//   }
// }

.btn-secondary {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: transparent;

  padding: 14px 43px 15px;
  border: 2px solid var(--accent-color);
  @include font(700, 12px, 1.25, 0.08em);
  transition: color var(--cubic);
  transition: background-color var(--cubic);
  @media screen and (min-width: 768px) {
    padding: 14px 9px 13px;
    @include font(null, 14px, 1.21, 0.14em);
  }

  @media screen and (min-width: 1680px) {
    padding: 24px 47px 25px;
  }

  &:hover,
  &:focus {
    color: var(--second-color);
    background-color: var(--accent-color);
  }
}

//modifier for hero on tablet and destop for primary and secondary buttons
.btn-definite-width {
  width: auto;
}
