.contacts {
    background-color: #111518;
    @extend %full;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url(/src/images/registration/registration-mobile-320px@1x-min.png);
    background-size: cover;
    background-position: center; 


    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
        background-image: url(/src/images/registration/registration-desktop-1680px@2x-min.png);
        background-size: cover;
    } 

@media screen and (min-width: 768px) {
   
    background-image: url(/src/images/registration/registration-tablet-768px@1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: url(/src/images/registration/registration-tablet-768px@2x-min.png);
        background-size: cover;
    }
}

    @media screen and (min-width: 1680px) {
        max-width: 1680px;
        background-image: none, url(/src/images/registration/registration-desktop-1680px@1x-min.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
           
        background-image: url(/src/images/registration/registration-desktop-1680px@2x-min.png);
        background-size: cover;
        
        }
      }
      &-container {
        @extend %container;
      }
    }

    .contacts-meta {
      &:nth-child(1) {
        margin-bottom: 20px;
        @media screen and (min-width: 1680px) {
          margin-bottom: 32px;
        }
      }
    }
    .contacts-title {
        color: #fff;
        @include font(800, 14px, 1.36, 0.03em);
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        margin-bottom: 24px;
    
        @media screen and (min-width: 768px) {
          max-width: 688px;
          margin-bottom: 40px;
          @include font(null, 26px, 1.3, null);
          }
        
        @media screen and (min-width: 1680px) {
          max-width: 1090px;
          @include font(null, 46px, 1.3, null);
        }
        &--accent {
          color: #ff6b09;
        }
    }


    .contacts-text {
        color: #fff;
        @include font(600, 12px, 1.25, 0.08em);
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        margin-bottom: 40px;
    
        &--accent {
            color: #ff6b09;
          }
    
          @media screen and (min-width: 768px) {
            @include font(null, 14px, 1.21, null);
            margin-bottom: 24px;
            max-width: 452px;
          }
        
          @media screen and (min-width: 1680px) {
            @include font(null, 30px, 1.23, null);
            max-width: 1090px;
          }

    }
    .contacts-form {
      min-width: 280px;
      margin-left:auto;
      margin-right:auto;
      @media screen and (min-width: 768px){
        width: 336px;
      }
      @media screen and (min-width: 1680px){
        width: 528px;
      }
    }

      .contacts-form__input {
          padding-left: 28px;
          width: 100%;
          height: 48px;
          color: #fff;
          background-color: transparent;
          border: 1px solid #fff;
          @media screen and (min-width: 768px) {
            padding-left: 24px;
          }
        @media screen and (min-width: 1680px) {
          height: 70px;
          @include font(600, 20px, 1.2, null);
        }
        &:hover, &:focus {
          border: 1px solid var(--accent-color);
          outline: none;
        }
    
        &::placeholder {
          color: var(--accent-color);
          margin-left: 24px;
          @include font(600, 14px, 1.21, 0.08em);
          align-items: center;
          
          @media screen and (min-width: 1680px) {
            @include font(null, 20px, 1.2, null);
          }
        }
      }

      .contacts-form__input:valid:not(:placeholder-shown) {
        border-color: green;
        }
      
      .contacts-form__input:invalid {
        border-color: red;
      }
        

      


          .contacts-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            text-transform: uppercase;
            border: 2px solid var(--accent-color);
            height: 48px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;

            color: var(--second-color);
            background-color: var(--accent-color);
            @include font(700, 12px, 1.25, 0.08em);

            @media screen and (min-width: 768px) {
                margin-top: 32px;
            }
            @media screen and (min-width: 1680px) {
                height: 70px;
               margin-top: 40px;
               @include font(null, 14px, 1.21, 0.14em);
            }
            &:hover,
            &:focus {
              color: var(--accent-color);
              background-color: var(--second-color);
            }
          }

          .btn-definite-width {
            width: auto;
          }
        
