.contacts {
    background-color: #111518;
    padding: 50px 0px 50px 0px;
    max-width: 1680px;
    min-height: 507px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url(/src/images/registration/registration-mobile-320px@1x-min.png);
    background-size: cover;
    background-position: center; 

    @media screen and (max-width:767px) {
    padding-left: 20px;
    padding-right: 20px;}

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
        background-image: url(/src/images/registration/registration-desktop-1680px@2x-min.png);
        background-size: cover;
        

}

@media screen and (min-width: 768px) {
   
    padding: 50px 0px 71px 0px;
    background-image: none, url(/src/images/registration/registration-tablet-768px@1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: url(/src/images/registration/registration-tablet-768px@2x-min.png);
        background-size: cover;
      
    }

    @media screen and (min-width: 1680px) {
        max-width: 1680px;
        min-height: 840px;
        padding: 100px 0px 62px 0px;
        background-image: none, url(/src/images/registration/registration-desktop-1680px@1x-min.png);
    
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
           
        background-image: url(/src/images/registration/registration-desktop-1680px@2x-min.png);
        background-size: cover;
        
        }
      }
    }
}

.box-centered {
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width: 768px) {
        width: 688px;
      }
    
      @media screen and(min-width: 1680px) {
        width: 1090px;
      }
}

    .contacts-title {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 136%;
      
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;


        .contacts-title--accent {
            color: #ff6b09;
          }
    
        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 130%;
          }
        
          @media screen and (min-width: 1680px) {
            font-size: 46px;
            margin-bottom: 50px;
          }
    
    
     
    }


    .contacts-text {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.08em;
        margin-bottom: 30px;
    
    
        .contacts-text--accent {
            color: #ff6b09;
          }
    
          @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 40px;
          }
        
          @media screen and (min-width: 1680px) {
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 56px;
          }

    }


    .contacts-form__input {
        @media screen and(min-width:280px) {
          display: block;
          min-width: 280px;
          height: 48px;
          padding-left: 28px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
      
          color: #fff;
          background-color: transparent;
          border: 1px solid #fff;
      
          
      
          &:hover {
            border: 2px solid #ff6b09;
            outline: none;
          }
      
          &:focus {
            outline: 2px solid #ff6b09;
            border-color: none;
          }
      
          &::placeholder {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            align-items: center;
            letter-spacing: 0.08em;
      
           
      
            @media screen and (min-width: 1680px) {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      
        @media screen and (min-width: 768px) {
          display: flex;
          min-width: 390px;
          height: 48px;
          margin-left: auto;
          margin-right: auto;
        }
      
        @media screen and (min-width: 1680px) {
          min-width: 478px;
          height: 70px;
          font-size: 20px;
          line-height: 24px;
          padding-left: 40px;
          margin-bottom: 30px;
        }
      }

      .contacts-form__input:hover::placeholder,
      .contacts-form__input:focus::placeholder {
        color: #ff6b09;
      }
      
      .contacts-form__input:valid {
        color: #fff;
        background-color: transparent;
      }
      
      .contacts-form__input:invalid {
        color: #fff;
        background-color: rgb(255, 0, 0);
      }
        

      


          .btn-primary {
            display: flex;
  justify-content: center;
  align-items: center;


            width: 100%;
            text-transform: uppercase;
            border: 2px solid var(--accent-color);
           
            margin: 0;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;


            color: var(--second-color);
            background-color: var(--accent-color);
          
            font-weight: 700;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.08em;



            @media screen and (min-width: 768px) {
                margin-top: 31px;
                padding-left: 110px;
                padding-right: 110px;
            }
            @media screen and (min-width: 1680px) {
               margin-top: 80px;
              font-size: 14px;
              line-height: 1.21;
              letter-spacing: 0.14em;
            }
            &:hover,
            &:focus {
              color: var(--accent-color);
              background-color: var(--second-color);
            }
          }

          .btn-definite-width {
            width: auto;
          }
        
