.footer__container {
  @extend %container;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  @media screen and (min-width: 768px) {
    flex-direction: initial;
    justify-content: space-between;
    padding: 40px 0px;
  }
  @media screen and (min-width: 1680px) {
    position: relative;
    justify-content: center;
    padding: 84px 0 82px 0;
  }
}
.footer-list__item:first-child {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1680px) {
    position: absolute;
    left: 0;
    top: 80px;
  }
}
.footer-list__item:last-child {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-list__link--after::after {
  @media screen and (min-width: 768px) {
    content: '';
    width: 0px;
    height: 40px;
    border: 1px solid var(--fourth-color);
    margin: 0px 25px;
  }
}
.footer-list__link:not(:last-of-type) {
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.footer-list__link {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 30px;
  }
}
.footer-list__link:hover .footer-list__icon,
.footer-list__link:focus .footer-list__icon {
  animation: icon-phone 2s ease 0s 1 normal forwards;
  animation-iteration-count: infinite;
}
logo__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  max-width: 80px;
  @media screen and (min-width: 768px) {
    max-width: 129px;
  }
}

.footer-list__icon {
  @media screen and (min-width: 319px) {
    width: 20px;
    height: 19px;
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 23px;
    margin-right: 15px;
  }
  @media screen and (min-width: 1680px) {
    width: 30px;
    height: 28px;
  }
}
.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111518;
  border-top: 1px solid #fff;
  @media screen and (min-width: 1680px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: var(--fourth-color);
  text-align: center;
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  z-index: 6;
  background: url('../images/footer/circle-up.svg') no-repeat;
  @media screen and (min-width: 768px) {
    bottom: 70px;
    right: 30px;
  }
  @media screen and (min-width: 1680px) {
    bottom: 70px;
    right: 50px;
  }
}
