.guarantee {
    padding-top: 28px;
    &__container {
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            min-width: 320px;
        
            @media screen and (min-width:480px) {
                width: 480px;
            }
        
            @media screen and (min-width:768px) {
                width: 734px;
            }
        
            @media screen and (min-width:1680px) {
                width: 1680px;
            }
    }

    &__box {

        background-color: var(--third-bg-color);
        

        @media screen and (max-width: 767px) {
            padding: 30px 20px 31px 27px;
           
        }

        @media screen and (min-width: 768px) {
            padding: 30px 50px 30px 86px;
        }

        @media screen and (min-width: 1680px) {
            padding: 50px 112px 45px 119px;
        }
    }
  

    &__title {
        text-align: center;
        font-weight: 800;
        font-size: 26px;
        line-height: calc(34 / 26);
        letter-spacing: 0.03em;

        @media screen and (max-width: 1679px) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1680px) {
            margin-bottom: 50px;
            font-size: 46px;
            line-height: calc(60 / 46);
        }
    }
    &__menu {
           
         
            @media screen and (min-width: 768px) and (max-width: 1679px) {
                left: 79px;
            }
            @media screen and (min-width: 1680px) {
                padding-left: 112px;
            }
    }
      

    &__item {
        
        font-weight: 500;
        font-size: 12px;
        line-height: calc(20 / 12);
        padding-left: 28px;
        max-width: 1090px;

        color: var(--third-color);

        @media screen and (min-width: 1680px) {
           
            font-size: 20px;
            line-height: calc(28 / 20);
            
        }

        &::before {
        
            position: absolute;
            content: "";
            left: 20px;
            width: 15px;
            height: 20px;
            background-image: url("../images/fire.svg");
            background-size: cover;
            @media screen and (min-width: 320px) and (max-width: 479px) {
                    left: 4px;
                    margin-left: 32px;
                }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                    left: 4px;
                    margin-left: 32px;
                }
            @media screen and (min-width: 768px) and (max-width: 1679px) {  
                left: 80px;
                margin-left: 32px;
            }

            @media screen and (min-width: 1680px) {
                left: 112px;
                margin-left: 128px;
            }
        }
    }



    &__item:not(:last-child) {
            display: block;
            padding-bottom: 15px;
            border-left: 1px dashed var(--third-color);
            height: 100%;
            top: 21px;
            left: 2px;
           

            @media screen and (min-width: 768px) {
            padding-bottom: 20px;
        }
                @media screen and (min-width: 1680px) {
                    padding-bottom: 20px;
                }

    }

    &__item--element {
        color: var(--accent-color);
    }
}