.header {
	position: relative;

	@media screen and (min-width:768px) and (max-width:1679px)  {
			padding-top: 40px;
		}
}


.main-nav {
	@extend %container;
}
.navigation{
	position: relative;
}
.navigation__flex {
	display: flex;
	justify-content: space-between;

	@media screen and (min-width:768px) and (max-width:1679px) {
			align-items: center;
		}
}

.logo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 20px;
	max-width: 80px;

	@media screen and (min-width:768px) {
		max-width: 129px;
	}

		@media screen and (min-width:1680px) {
			display: none;
		}

				@media screen and (min-width:768px) and (max-width:1679px) {
					padding-top: 0px;
				}
}

.logo__hell {
	color: var(--main-color);

	@media screen and (min-width:768px) {
			@include font(null, 26px, null, null)
		}

				@include font(800, 15px, 1.2, 0.04em)
}

.logo__en {
	color: var(--main-color);
	
	@media screen and (min-width:768px) {
			@include font(null, 26px, null, null)
		}

				@include font(800, 15px, 1.2, 0.04em)
}

.logo__icon-fire {
	margin-left: 4px;
	margin-right: 4px;

	@media screen and (min-width:768px) {
		width:22px ;
		height:30px ;
		
	}
}

.logo__hellish {
	text-transform: uppercase;
	color: var(--accent-color);

	@media screen and (min-width:768px) {
			@include font(null, 8px, null, null)
	}

	@include font(700, 5px, 1.2, 0.18em)
}

.logo_english {
	text-transform: uppercase;
	color: var(--main-color);

	@media screen and (min-width:768px) {
			@include font(null, 8px, null, null)
		}

				@include font(700, 5px, 1.2, 0.18em)
}

.burger {
	color: var(--main-color);
	padding-top: 31px;
	border: 0;
	background-color: transparent;

	max-width: 21px;
	max-height: 12px;

	cursor: pointer;

	transition: color var(--cubic);

	@media screen and (min-width:1680px) {
		display: none;
	}

		@media screen and (min-width:768px) and (max-width:1679px) {
			padding-top: 0px;
		}

	&:hover, &:focus {
		color: var(--accent-color);
	}
}

.icon-burger {
stroke: currentColor;
}

.icon-cross {
@media screen and (max-width:1679px) {
	stroke: currentColor;
}
}

.cross {
	border: 0;
	background-color: transparent;

	max-width: 16px;
	max-height: 16px;

	color: #ffffff;

	cursor: pointer;
	transition: color var(--cubic);
	
	&:hover,
		&:focus {
			color: var(--accent-color);
		}
}


.menu {
	padding: 20px 15px 0px 15px;

	@media screen and (min-width:768px) {
		padding: 40px 32px 0px 32px;
		
	}

		@media screen and (min-width:1680px) {
			padding: 40px 0px 0px 0px;
			
		}

						&.is-open .navigation__flex {
							align-items: unset;
						}

	&.is-open {
		@media screen and (max-width:1679px) {
			opacity: 0;
				visibility: hidden;
				pointer-events: none;
		}
		
		

	@media  screen and (min-width:1680px) {
		display: flex;
	}
	}

	&.is-open .cross {
		display: block;
	}

	
	@media screen and (max-width:1679px) {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 2;
			
				width: 100vw;
				height: 100%;
			
				background-color: rgba(17, 21, 24, 0.90);
			
				opacity: 1;
				
				transition: opacity 400ms linear, visibility 400ms linear;
	}

				@media screen and (min-width:1680px) {
					display: flex;
					align-items: center;
				}

}

body.menu-open {
	overflow: hidden;
}






.nav-link {
	
		font-family: inherit;

		color: #ffffff;
		transition: color var(--cubic);

		&:hover, &:focus {
			color: var(--accent-color);
		}

	@media screen and (min-width:768px) {
		@include font(null, 26px, null, null)
	}

		@media screen and (min-width:1680px) {
			color: rgba(185, 185, 185, 1);
			display: flex;

			text-transform: uppercase;

			@include font(null, 14px, 1.2, null)
		}

		@include font(800, 20px, 1.8, 0.03em )
}

.logo__drop-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	max-width: 80px;
	

	@media screen and (min-width:768px) {
			max-width: 129px;
			
		}

}


.logo__hell-drop-menu {
	
	color: #ffffff;

	@media screen and (min-width:768px) {
			@include font(null, 26px, null, null)
		}

				@media screen and (min-width:1680px) {
					color: var(--main-color);
				}

				@include font(800, 15px, 1.2, 0.04em)

}

.logo__en-drop-menu {
	color: var(#ffffff);

	@media screen and (min-width:768px) {
			@include font(null, 26px, null, null)
		}

				@media screen and (min-width:1680px) {
					color: var(--main-color);
				}

								@include font(800, 15px, 1.2, 0.04em)
}

.logo__hellish--drop-menu {
		text-transform: uppercase;
		color: var(--accent-color);
	
		@media screen and (min-width:768px) {
			@include font(null, 8px, null, null)
		}

		@include font(700, 5px, 1.2, 0.18em)
}

.logo_english-drop-menu {
	text-transform: uppercase;
	color: #ffffff;

	@media screen and (min-width:768px) {
			@include font(null, 8px, null, null)
		}

				@media screen and (min-width:1680px) {
					color: var(--main-color);
				}

								@include font(700, 5px, 1.2, 0.18em)
}

.menu__item {
	@media screen and (max-width:1679px) {
		&:not(:last-child) {
				margin-bottom: 5px;
			}
	}
	
		@media screen and (min-width:1680px) {
			& {
					margin-right:  40px;
				}
		}
}


.menu__list {
	@media screen and (max-width:767px) {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	@media screen and (min-width:768px) and (max-width:1679px) {
		padding-left:188px;
		padding-right:188px ;
		margin-top: 80px;
	}

	@media screen and (min-width:1680px) {
					margin-left: auto;
		display: flex;
	}
	
}


.button-tel {
	max-height: 70px;

	@media screen and (min-width:768px) and (max-width:1679px) {
		display: none;
	}
}

.button--tablet {
	cursor: pointer;
	max-height: 48px;
	display: none;
	margin-left: 255px;
	margin-right: auto;
	

	@media screen and (min-width:768px) and (max-width:1679px) {
			display: block;
		}

}
