.how {
    @extend %standart;

    @media screen and (min-width:768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width:1680px) {
        padding-bottom: 80px;
    }
}

.container {
    @extend %container;
}

.how-head {
    margin-bottom: 32px;
    text-align: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,var(--title-color) 17%,var(--second-title-color) 100%);


    @media screen and (min-width:768px) {
        margin-bottom: 40px;
    }
        
    @media screen and (min-width:1680px) {
        margin-bottom: 80px;
        text-align: left;
    }

    @extend %font-title;
}

.how-list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-bottom: -32px;
    }
}

.how-item {
    position: relative;

    min-height: 280px;
    margin-bottom: 16px;
    padding: 32px 4px 8px 4px;

    box-shadow: var(--shadow);

    transition: background-color var(--cubic), color var(--cubic), fill var(--cubic);

    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 64px) / 2);
        margin-left: 32px;
        margin-bottom: 32px;
        padding: 40px 20px 20px 20px;
        min-height: 336px;
        }
    
    @media screen and (min-width:1680px) {
        flex-basis: calc((100% - 96px) / 3);
        padding: 90px 82px 91px 82px;
        min-height: 528px;
        }

        &:hover,
        &:focus {
            background-color: var(--accent-color);
    
            .how-description,
            .how-title,
            .how-title::after {
                color: var(--second-color);
            }
    
            .how-icon {
                fill: var(--second-color);
            }
        }
}

.how-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;


    fill:var(--accent-color);

    @media screen and (min-width:768px) {
        margin-bottom: 32px;
    }
}

.how-title {
    text-align: center;

    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    margin: 0 5px 4px 5px;

    @media screen and (min-width:768px) {
        margin-bottom: 8px;
    }

    @media screen and (min-width:1680px) {
    margin-bottom: 4px;

    font-size: 20px;
    line-height: 1.4;
    }
}

.how-title {
    &::after    {
         content: "—"; 
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;

         color: var(--accent-color);
         font-weight: 700;
         font-size: 20px;
         line-height: 1.65;    
         letter-spacing: 0.08em;
         margin-bottom: 4px;
        
         @media screen and (min-width:768px) {
             margin-bottom: 8px;
         }

         @media screen and (min-width:1680px) {
             margin-bottom: 4px;
         }
     }
}

.how-description {
    text-align: center;

    color: var(--fourth-color);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;

    @media screen and (min-width:1680px) {
    font-size: 18px;
    line-height: 1.56;
    }
}