.backdrop {
	z-index: 30;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;

	background-color: rgba(red, $alpha: 0.5);

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.order-modal {
	height: 100%;
	width: 100%;

	background-color: antiquewhite;

	padding: 20px 15px 0px 15px;
	
		@media screen and (min-width:768px) {
			padding: 40px 32px 0px 32px;
	
		}
	
		@media screen and (min-width:1680px) {
			padding: 40px 0px 0px 0px;
	
		}
	
}





.order-modal__button {
	border: 0;
	background-color: transparent;
	// color: var(--second-color);
	color: teal;
}
.order-modal__use {
	stroke: currentColor;
}