.program {
    padding-top: 48px;
    padding-bottom: 105px;
    background-color: var(--main-color);
    position: relative;
    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 100px;
        }
    @media screen and (min-width:1680px) {
        padding-top: 80px;
        padding-bottom: 0;
    }
    &::before {
        @media screen and (min-width:1680px) {
        content: '';
        position: absolute;
        background-color: var(--second-color);
            width: 100%;
            height: 1px;
            top: 223px;
            left: 0;
        }
    }
    &__container {
        @extend %container;
    }
    &__meta {
        @media screen and (max-width:767px) {
        width: 208px;
        margin-left: auto;
        margin-right: auto;
        }
    }
    &__title {
        @extend %font-title;
        color: var(--second-color);
        margin-bottom: 40px;
        @media screen and (max-width:679px) {
        margin-left: 32px;
        }
        @media screen and (min-width:1680px) {
            margin-bottom: 136px;
            margin-left: 0;
        }
    }
    &__item {
        @media screen and (max-width:1679px) {
        &:not(:last-child) {
            margin-bottom: 40px;
            }
        }
        @media screen and (min-width:1680px) {
            width: 240px;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
    &__pre-title {
        color: var(--second-color);
        margin-bottom: 4px;
        @include font(700, 14px, 2, 0.08em);
        @media screen and (min-width:1680px) {
            @include font(null, 20px, 1.4, null);
            margin-bottom: 24px;
        }
    }
    &__number {
        position: relative;
        @include font(700, 14px, 2, 0.08em);
        @media screen and (min-width:1680px) {
            @include font(null, 30px, 0.93, null);
        }
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: -20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--accent-color);
            transform: translateX(-100%);
            @media screen and (min-width:768px) {
                left: -107px;
            }
            @media screen and (min-width:1680px) {
                left: 0;
                top: -40px;
                width: 16px;
                height: 16px;
                transform: translate(0, -100%);
            }
        }
    }
    &__list {
        position: relative;
        margin-left: 32px;
        @media screen and (min-width:768px) {
            margin-left: 184px;
        }
        @media screen and (min-width:1680px) {
            margin-left: 0;
            margin-right: -40px;
            display: flex;
            justify-content: center;
        }
        &::before {
            @media screen and (max-width:1679px) {
                content: '';
                position: absolute;
                background-color: var(--second-color);
                top: 12px;
                left: -26px;
                transform: translate(-50%);
                width: 1px;
                left: -113px;
                height: 720px;
            }
            @media screen and (max-width:767px) {
                left: -26px;
                height: 1150px;
                }
        }
        &::after {
            position: absolute;
            content: '';
            left: 82px;
            bottom: -105px;
            width: 150px;
            height: 137px;
            background-size:cover;
            background: url(/src/images/program/program-mobile@1x.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(/src/images/program/program-mobile@2x.png) cover;
                }
            @media screen and (min-width:768px) {
                left: 184px;
                bottom: -100px;
                width: 368px;
                height: 268px;
                background: url(/src/images/program/program-tablet@1x.png);
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(/src/images/program/program-tablet@2x.png) cover;
                }
            }
            @media screen and (min-width:1680px) {
                top: 393px;
                left: -15px;
                width: 684px;
                height: 510px;
                background: url(/src/images/program/program-desktop@1x.png);
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(/src/images/program/program-desktop@2x.png) cover;
                    }
            }
        }
    }
}
.course {
    @media screen and (min-width:768px) and (max-width:1679px){
        display: flex;
    }
    &__item {
        @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 4px
            }
        }
        @media screen and (min-width:768px) and (max-width:1679px) {
            &:not(:last-child) {
            margin-right: 28px;
                }
            &:not(:nth-child(3)) {
                width: 156px;
                }
        }
        @media screen and (min-width:1680px) {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
    &__title {
        position: relative;
        margin-bottom: 4px;
        margin-left: 18px;
        color: var(--accent-color);
        @include font(700, 14px, 1.67, 0.08em);
        @media screen and (min-width:768px) {
        margin-left: 21px;
        }
        @media screen and (min-width:1680px) {
            margin-left: 29px;
            margin-bottom: 8px;
            @include font(null, 20px, 1.65, null);
        }
        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: -18px;
            width: 12px;
            height: 1px;
            background-color: var(--accent-color);
            transform: translateY(-50%);
            @media screen and (min-width:768px) {
                left: -21px;
                width: 14px;
                height: 2px;
            }
            @media screen and (min-width:1680px) {
                left: -29px;
                width: 20px;
            }
          }
    }
    &__subject {
        color: var(--fourth-color);
        @include font(500, 12px, 1.67, 0.08em);
        @media screen and (min-width:1680px) {
            @include font(null, 18px, 1.56, null);
        }
    }
}