.problems {
  padding-top: 24px;

  background: linear-gradient(var(--main-color) 78%, var(--second-color) 22%);

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1680px) {
    padding-top: 80px;
    background: linear-gradient(var(--main-color) 78%, var(--second-color) 22%);
  }
}
.problems__container {
  @extend %container;
  position: relative;
  z-index: 0;
  @media screen and (min-width: 1680px) {
    &::before {
      position: absolute;
      right: -35px;
      bottom: 157px;

      content: '';
      background: url(../images/big_fire.svg) no-repeat;
      width: 455px;
      height: 472px;
    }
  }
}

.problems__title {
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: 0.03em;

  color: var(--second-color);

  @media screen and (min-width: 768px) {
    max-width: 440px;
  }
  @media screen and (min-width: 1680px) {
    margin-bottom: 80px;
    max-width: 840px;
    font-size: 46px;
  }
}
.problems__title-text {
  color: var(--accent-color);
}
.problems__list {
  position: relative;
  z-index: 2;
  list-style-type: none;
  counter-reset: list 0;

  padding: 30px 12px 24px 32px;
  background-color: var(--second-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @include font(700, 14, 1.43, 0.08em);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 80px;
  }
  @media screen and (min-width: 1680px) {
    padding: 60px 192px 60px 140px;
  }
}
.problems__item {
  &::before {
    counter-increment: list;
    content: '— 0' counter(list);
    color: var(--accent-color);
    line-height: 1.21;
    @media screen and (min-width: 1680px) {
      line-height: 1.65;
    }
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    flex-basis: calc((100% - 150px) / 2);

    &:nth-child(odd) {
      margin-right: 60px;
    }
    // всем, кроме последних 2
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1680px) {
    width: 336px;
    @include font(null, 20, 1.4, 0.08em);
    // всем кроме каждого третьего
    &:not(:nth-child(3n)) {
      // margin-right: 223px;
      margin-right: 95px;
    }
    &:nth-child(3n) {
      margin-left: 120px;
    }
    // всем кроме последних трех
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 40px;
    }
  }
}
.problems__text {
  margin-top: 15px;
}
