.reviews {
    @extend %full;
}

.container {
    @extend %container;
}

.reviewers-list {
    @media screen and (min-width:768px) {
        width: 704px;

    }
    @media screen and (min-width:1680px) {
        width: 1088px;
    }
}
.swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    }

.reviews-head {
    margin-bottom: 24px;
    @extend %font-title;
    text-align: center;
    @media screen and (min-width:768px) {
        margin-bottom: 40px;
    }
}

.reviewers-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    @media screen and (max-width:767px) {
        align-items: center;
    }


    @media screen and (min-width:768px) {
        padding-top: 40px;
        padding-bottom: 40px;

        flex-direction: row;
        justify-content: center;
        box-shadow: -5 8 26 rgba(0, 0, 0, 0.04);
        width: 704px;
    }

    @media screen and (min-width:1680px) {
        width: 1088px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.reviewers-photo {
    width: 90px;
    height: 90px;
    margin-bottom: 31px;

    border-radius: 50%;

    @media screen and (min-width:768px) {
        width: 150px;
        height: 150px;

        margin-bottom: 27px;
        }

    @media screen and (min-width:1680px) {
        
        margin-bottom: 15px;
        }
}

.reviewers-link {
    display: block;
    padding-left: calc(50% - 15px);
    margin-bottom: 31px;
}

.reviewers-icon {    
    fill: #436EAB;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #436EAB;
}

.reviewers-name {
    margin-bottom: 16px;

    font-weight: 800;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-align: center;
    letter-spacing: 0.08em;
    
    color:var(--accent-color);

    @media screen and (min-width:768px) {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 20px;
        line-height: calc(24 / 20);
        letter-spacing: 0.08em;
        text-align: left;
    }

    @media screen and (min-width:1680px){
        margin-bottom: 8px;
    }
}

.reviewers-item__profile {
    width: 240px;
    justify-content: center;

    
    @media screen and (min-width:768px) {
        width: 412px;
        margin-left: 44px;
       }
    
    @media screen and (min-width:1680px) {    
        width: 706px;
        margin-left: 40px;
    }
}

.reviewers-edu {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--fourth-color);

    @media screen and (min-width:768px) {
        margin-bottom: 20px;

        text-align:left
    }

    @media screen and (min-width:1680px){
        font-size: 14px;
        line-height: calc(17 / 14);
    }
}

.reviewers-review {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: var(--third-color);

    @media screen and (min-width:768px) {
        text-align: left;
    }
    @media screen and (min-width:1680px) {

    }
    @media screen and (min-width:1680px) {
        font-size: 18px;
        }
}

.reviewers-review__btn{
    text-decoration-line: underline;
    color: var(--accent-color);
    background-color: transparent;
    border-color: transparent;
}


.swiper-pagination-bullet {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    opacity: 1;
}

body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic>span.swiper-pagination-bullet {
        margin-left: 6px;
        margin-right: 6px;
    
    @media screen and (min-width:768px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.swiper-pagination-bullet-active {
    border: 1px solid #FF6B09;
}

.swiper-pagination-bullet{
    background-size: contain;

    &:nth-child(1){ 
    background-image: url(../images/reviews/feedback-girl-tablet&desktop-150px@2x-1-min.png);
    }    
    &:nth-child(2){ 
    background-image: url(../images/reviews/reviews-girl-primary@2x-1-min.png);
    }
    &:nth-child(3){ 
    background-image: url(../images/reviews/reviews-girl-quaternary@2x-min.png);
    }
    &:nth-child(4){ 
    background-image: url(../images/reviews/reviews-girl-quinary@2x-min.png);
    }
    &:nth-child(5){ 
    background-image: url(../images/reviews/reviews-girl-secondary@2x-min.png);
    }
    &:nth-child(6){ 
    background-image: url(../images/reviews/reviews-girl-septenary@2x-min.png);
    }
    &:nth-child(7){ 
    background-image: url(../images/reviews/reviews-girl-tertiary@2x-min.png);
    }
}

body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    @media screen and (max-width: 767px) {  
    width: 200!important;
    overflow: hidden;
    }
}

body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic>span.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic>span.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next,
body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic>span.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
body>section.reviews>div>div>div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic>span.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev {
    transform: scale(1);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 1px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "";
    width: 27px;
    height: 16px;

    background-image: url(../images/arrow_right.svg);
    color: var(--accent-color);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "";
    width: 27px;
    height: 16px;
    background-image: url(../images/arrow_left.svg);
    color: var(--accent-color);
}

body>section.reviews>div>div>div.swiper-button-next,
body>section.reviews>div>div>div.swiper-button-prev {
    top: 95%;

    @media screen and (min-width: 768px){
        top: 42%;        
    }
}

.swiper-button-next, .swiper-button-prev {
width: 27px;
}

